.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.h1-header {
    background-color: wheat;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}