.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto 50px;
}
.h1-header {
    background-color: wheat;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
@media (max-width: 800px) {
    .container {
        width: 85%;
    }
}